
 #dashboard{
    
        background-color: rgb(44, 44, 255);
        height:50px;
        i{
            color:white;
        }
    }
     #top_buttons{
         .post{
background-color: rgb(44, 44, 255);
         }

    }
    
    .second_cards{
      
       i{
           color:white;
       } 
    }
    footer{
        background-color: rgb(46, 44, 44);
       height:60px;
       
       
       h6{
        padding-top:10px;
        font-weight:100;
       }
    }